* {
  font-family: 'Crimson Text', serif;
  color: #444;
}

#logo {
  border-color: #444;
  border-width: 1px;
  border-style: solid;
  border-radius: 1px;
  padding: 10px 18px 10px 18px;
  font-size: 1.5em;
  display: inline-block;
  font-weight: lighter;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.menu {
  animation: slide-left 0.5s;
}

@keyframes slide-left {
  from { margin-left: -10px; }
  to { margin-left: 0px;}
}
